<div id="good-idea-input">
  <input type="text" placeholder="A great idea" id="good-idea-text">
  <input type="submit" id="good-idea-submit">
</div>

<h2>Your good ideas</h2>

<ol id="good-ideas"></ol>

<div id="bad-idea-input">
  <input type="text" placeholder="A great idea" id="bad-idea-text">
  <input type="submit" id="bad-idea-submit">
</div>

<h2>Your bad ideas</h2>

<ol id="bad-ideas"></ol>